<%- include("partials/header.ejs") %>

    <div class="section-wrapper">
        <section>
            <% if (locals.error) {%>
                <p>
                    <%= error %>
                </p>
            <% } %>
            <% if (locals.data) { %>
                <h1><a href="<%= data.strSource %>">
                    <%= data.strMeal %>
                </a></h1>
                <img src="<%= data.strMealThumb %>/large" alt="Dish photo">
                <p class="food-property">Category: <%= data.strCategory %></p>
                <p class="food-property">Area: <%= data.strArea %></p>
                <p class="food-property">Type: <%= data.strTags %></p>
                <h3>Ingredients:</h3>
                <ul>
                    <% ingredientDetail.forEach(element=> { %>
                        <li>
                            <%= element.measure %>
                                <%= element.ingredient %>
                        </li>
                    <% }); %>
                </ul>
                <h3>Instructions:</h3>
                <p><%- data.strInstructions.replace(/\r\n|\n/g, "<br>" ) %></p>
                <h3>Video:</h3>
                <iframe width="800" height="460" src= "<%= data.strYoutube %>" title="<%= data.strMeal %>" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <% } %>
        </section>
    </div>

    <%- include("partials/footer.ejs") %>